.container{
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 155, 155);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 4px 4px 4px 4px black;
    width: 320px;
    height: 420px;
}


#display{
    background-color: rgb(255, 249, 238);
    color: black;
    height: 30px;
    width: 300px;
    margin: 40px auto 5px;
    display: block;
    border-radius: 2px;
    font-size: 2em;
    font-weight: bolder;
    padding: 5px;
}
#cleaner{
    background-color: rgb(89, 89, 189);
    color: white;
}
#cleaner:hover{
    background-color: rgb(122, 122, 216);
}
.content{
    width: 300px;
    margin: 50px auto;
}

.num{
    background-color: rgb(46, 46, 46);
    color: rgb(255, 247, 130);
    margin: 10px;
    padding: 5px;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 5px;
}
.num:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px black;
    background-color: black;
    transition: ease-in-out;
    transform: scale(.9);    
}


#igual{
    background-color: rgb(204, 47, 47);
    color: white;
}
#igual:hover{
    background-color: rgb(180, 47, 47);
}

.operador{
    background-color: rgb(182, 182, 182);
    color: white;
}
.operador:hover{
    background-color: rgb(207, 207, 207);
}
